<h4 style="background: linear-gradient(90deg, #ff0000,#ff2f00,#9b3d0a); color: white;">{{dialogTitle}}</h4>
    <div class="flex-container-1-1">
      <div  class="flex-container-2">
        <div><label>SAP Mat. No.</label></div>
        <div><label>FP Batch No.</label></div>
        <div><label>Bulk Batch No.</label></div>
        <div><label>MA No.</label></div>
      </div>
    </div>
    <div class="flex-container-1-1">
      <div  class="flex-container-2">
        <div><input [(ngModel)]="currentItem['SAP_Material_Number']" class="iflex2" disabled/></div>
        <div><input [(ngModel)]="currentItem['FP_Batch_no__']" class="iflex2" disabled/></div>
        <div><input [(ngModel)]="currentItem['Bulk_Batch_no_']" class="iflex2" disabled/></div>
        <div><input [(ngModel)]="currentItem['MA_No_']" class="iflex2" disabled/></div>
      </div>
    </div>
    <div class="flex-container-1-1 mt1">
        <div><label>MA Name</label></div>
    </div>
    <div class="flex-container-1-1 mt1">
        <div><input [(ngModel)]="currentItem['MA_name_']" class="iflex2-100" disabled/></div>
    </div>
    <div class="flex-container-1-1 mt1">
        <div  class="flex-container-2">
            <div><label>Lab Chem.</label></div>
            <div><label>CoA (Chem.) exp.</label></div>
            <div><label>CoA (Chem.) rec.</label></div>
        </div>
    </div>
    <div class="flex-container-1-1">
        <div  class="flex-container-2">
            <div><input [(ngModel)]="currentItem['Lab_chem']" class="iflex2"/></div>
            <div><input [(ngModel)]="currentItem['CoA_chem_expected']" class="iflex2"/></div>
            <div><div><input type="date" [(ngModel)]="diParam[0]" class="iflex2"/></div></div>
        </div>
    </div>
    <div class="flex-container-1-1 mt1">
        <div  class="flex-container-2">
            <div><label>Lab Add.</label></div>
            <div><label>CoA (add) rec.</label></div>
            <div><label>Release site</label></div>
        </div>
    </div>
    <div class="flex-container-1-1">
        <div  class="flex-container-2">
            <div><input [(ngModel)]="currentItem['Lab_add']" class="iflex2"/></div>
            <div><input type="date" [(ngModel)]="diParam[1]" class="iflex2"/></div>
            <div><input [(ngModel)]="currentItem['release_site']" class="iflex2"/></div>
        </div>
    </div>
    <div class="flex-container-1-1 mt1">
        <div  class="flex-container-2">
            <div><label>CoC received</label></div>
        </div>
    </div>
    <div class="flex-container-1-1">
        <div  class="flex-container-2">
            <div><input type="date" [(ngModel)]="diParam[2]" class="iflex2"/></div>
        </div>
    </div>
    <div class="flex-container-1-1 mt1">
        <div  class="flex-container-2">
            <div><label>Reanalysis comment</label></div>
        </div>
    </div>
    <div class="flex-container-1-1">
        <div  class="flex-container-2">
            <div><input [(ngModel)]="currentItem['Reanalysis_comment']" style="width: 40.5em;"/></div>
        </div>
    </div>
    <br>
    <button class="formButton" (click)="save()">Save</button>
    <button class="formButton" (click)="close()">Cancel</button>

