<table >
    <tbody>
      <tr>
        <th>Abbreviation</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor='let item of abbreviations'>
        <td>{{item.description}}</td>
        <td><img title="Eintrag bearbeiten" class="iconDel" src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/edit-change-pencil-64.png"/></td>
        <td><img title="Eintrag löschen"  class="iconDel" src="https://cdn2.iconfinder.com/data/icons/squircle-ui/32/Trash-64.png"/></td>
      </tr>
    </tbody>
  </table>
