<div>
    <img 
        src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-information-circled-512.png"
        height="16px" width="16px"/>
    <label style="font-weight: bold; margin-left: 4px;">Information</label>
</div>
<div class="roundbox boxshadow" style="background: blue; color: white; margin-top: 8px; width: 24em; height: 2em; border: solid 2px darkgray">              
    <div style="margin-left: 8px;">{{message}}</div>
</div>
<div class="mt1">
    <button (click)="close()">OK</button>
</div>