  <div class="filterBar">
    <img     
      class="iconDel" 
      *ngIf="index!==0"
      (click)="index=0"
      style="margin-left: 8px;"
      src="https://cdn0.iconfinder.com/data/icons/uiux-001-line/32/UI_UX_UIUX_Back-64.png" />
    <img 
      style="width: 66px; height: 22px; margin-left: 8px;"
      src="../assets/images/Heumann_Logo_farbig.png" />
    <img     
      class="iconDel" 
      style="margin-left: 2em;"
      src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/database-1024.png" />
    <label style="margin-top: -8px; margin-left: -8px;"> Le Nies+</label>
  </div>
  
  <main class="main" >
    <div style="display: flex;" *ngIf="index===0">
      <div class="card" (click)="cardClick(8)">
        <div style="font-weight: bold;">Batch Release</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">777 entries</label></div>
      </div>
      <div class="card"  (click)="cardClick(1)">
        <div style="font-weight: bold;">Abbreviations</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">27 entries</label></div>
      </div>
      <div class="card"  (click)="cardClick(2)">
        <div style="font-weight: bold;">CMO Masters</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">563 entries</label></div>
      </div>
      <div class="card"  (click)="cardClick(3)">
        <div style="font-weight: bold;">SCM Priorities</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">1537 entries</label></div>
      </div>
      <div class="card"  (click)="cardClick(4)">
        <div style="font-weight: bold;">Contacts Contacts</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">106 entries</label></div>
      </div>
      <div class="card"  (click)="cardClick(5)">
        <div style="font-weight: bold;">Contacts Vendors</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">74 entries</label></div>
      </div>
    </div>
    <div style="display: flex;" *ngIf="index===0">
      <div class="card" (click)="cardClick(6)">
        <div style="font-weight: bold;">Contacts SKU</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">1941 entries</label></div>
      </div>
      <div class="card"  (click)="cardClick(7)">
        <div style="font-weight: bold;">SAP FG Material</div>
        <div style="margin-top: 5em;"><img 
          style="width:24px; height:24px;"
          src="https://cdn3.iconfinder.com/data/icons/databases-2/512/tables-64.png" /></div>
          <div><label style="font-size:11px;">3413 entries</label></div>
      </div>
    </div>
    <div  style="margin-left: 1em; margin-top: 1em; font-weight: bold;">
      <label *ngIf="index!==0">{{entries}}</label>
      <button class="xlsButton ml1" type="submit" (click)="clearFilter()" *ngIf="index!==0">Clear filter
        <img style="border: none" src="https://cdn-icons-png.flaticon.com/128/3126/3126675.png" height="16px" width="16px"/>
      </button>
      <button class="xlsButton ml1" type="submit" (click)="exportToXls()" *ngIf="index!==0">Export to Excel
        <img style="border: none" src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647714-excel-64.png" height="16px" width="16px"/>
      </button>
    </div>
    
    <div class="tableDiv" *ngIf="index!==0">
      <app-data-table  
        (childEdit)="emitEdit($event)" 
        (childDelete)="emitDelete($event)" 
        (childFilterEU)="emitFilterEU($event)" 
        (childFilterCoA)="emitFilterCoA($event)" 
        (childFilterStatus)="emitFilterStatus($event)"
        (childFilterBatch)="emitFilterBatch($event)"
        [index]="index"
        [tableData]="tableData" 
        [headers]="headers" 
        [cols]="cols">
      </app-data-table>
    </div>
    <!--<mat-tab-group (selectedTabChange)="changeTab($event)" style="display: none;">
      <mat-tab label="Home"> 
        <h3 class="heumannapp">Heumann App</h3>
      </mat-tab>
      <mat-tab label="Abbreviations"> 
        <div class="tableDiv">
          <div class="tableDiv">
            <app-data-table  
              (childEdit)="emitEdit($event)" 
              (childDelete)="emitDelete($event)" 
              [tableData]="tableData" 
              [headers]="headers" 
              [cols]="cols">
            </app-data-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="CMO Master"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="SCM Priority Release Report">  
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Contacts - Kontakte"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Contacts - Vendors"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Contacts - Skus"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="SAP FG Material"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Batch Release Overview"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            (childFilter)="emitFilter($event)" 
            (childFilterEU)="emitFilterEU($event)" 
            (childFilterCoA)="emitFilterCoA($event)" 
            (childFilterStatus)="emitFilterStatus($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols"
            [index]="index">
          </app-data-table>
        </div>
      </mat-tab>
    </mat-tab-group>-->
  </main>

  <dialog #abbreviationDialog class="dialog abbr">
    <abbreviation-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </abbreviation-dialog>
  </dialog>

  <dialog #cmomasterDialog class="dialog cmomasterDialog">
    <cmomaster-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </cmomaster-dialog>
  </dialog>

  <dialog #scmDialog class="dialog scmDialog">
    <scm-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </scm-dialog>    
  </dialog>

  <dialog #contactsKontakteDialog class="dialog contactsKontakteDialog">
    <contactsKontakte-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </contactsKontakte-dialog>    
  </dialog>

  <dialog #contactsVendorsDialog class="dialog abbr">
    <contactsVendors-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </contactsVendors-dialog>    
  </dialog>

  <dialog #contactsSkusDialog class="dialog abbr">
    <contactsSkus-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </contactsSkus-dialog>    
  </dialog>

  <dialog #SAPMaterialDialog class="dialog abbr">
    <sapmaterial-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </sapmaterial-dialog>    
  </dialog>
  
  <dialog #warehouseDialog class="dialog warehouseDialog">
    <warehouse-dialog 
      (childSave)="emitSave(8)" 
      (childCancel)="emitCancel(8)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [apimanufacturers]="apimanufacturers"
      [manufacturers]="manufacturers"
      [categories]="categories"
      [dialogTitle]="dialogTitle">
    </warehouse-dialog>    
  </dialog>

  <dialog #brrprocessDialog class="dialog brrProcessDialog">
    <brrprocess-dialog 
      (childSave)="emitSave(9)" 
      (childCancel)="emitCancel(9)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [categories]="categories"
      [dialogTitle]="dialogTitle">
    </brrprocess-dialog>    
  </dialog>

  <dialog #brrstatusDialog class="dialog brrProcessDialog">
    <brrstatus-dialog 
      (childSave)="emitSave(10)" 
      (childCancel)="emitCancel(10)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [dialogTitle]="dialogTitle">
    </brrstatus-dialog>    
  </dialog>

  <dialog #qcprocessDialog class="dialog brrProcessDialog">
    <qcprocess-dialog 
      (childSave)="emitSave(11)" 
      (childCancel)="emitCancel(11)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [dialogTitle]="dialogTitle">
    </qcprocess-dialog>    
  </dialog>

  <dialog #messageboxDialog class="dialog brrProcessDialog">
    <messagebox-dialog
      [message]="message"
      (childCancel)="emitCancel(14)" >
    </messagebox-dialog>
  </dialog>

  <dialog #filterDialog class="dialog brrProcessDialog">
    <filter-dialog
      (childFilterStatus)="emitFilterStatus($event)"
      (childCancel)="emitCancel(13)"> 
    </filter-dialog>
  </dialog>

  <dialog #formDialog class="dialog warehouseDialog">
    <form-dialog
      (childCancel)="emitCancel(13)" 
      (childFilter)="emitFilter(13)" 
      [dialogTitle]="dialogTitle">
    </form-dialog>
  </dialog>
  
  
  