  <div class="filterBar">
    <label style="margin-left: 1em;">{{entriesStr}}</label>
    <label style="margin-left: 10em;">{{filterStr}}</label>
    <input *ngIf="index!=0" type="text" value="{{filterString}}" [(ngModel)]="filterString" (keyup.enter)="filterData()" name="filter"/>
    <img 
      *ngIf="index!=0" 
      class="iconDel" 
      (click)="filterData()"
      title="Daten filtern"
      src="https://www.iconpacks.net/icons/3/free-icon-filter-6556.png" />
    <img 
      *ngIf="index!=0" 
      class="iconDel" 
      (click)="clearFilter()"
      title="Filter löschen"
      src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-8/24/018_311_insignia_cross_emblem-64.png" />
    <img 
      *ngIf="index!=0" 
      (click)="newEntry()"
      class="iconDel" 
      title="Neuer Eintrag"
      src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_add-64.png" />
  </div>
  <main class="main" >

    <mat-tab-group (selectedTabChange)="changeTab($event)">
      <mat-tab label="Home"> 
        <h3 class="heumannapp">Heumann App</h3>
      </mat-tab>
      <mat-tab label="Abbreviations"> 
        <div class="tableDiv">
          <div class="tableDiv">
            <app-data-table  
              (childEdit)="emitEdit($event)" 
              (childDelete)="emitDelete($event)" 
              [tableData]="tableData" 
              [headers]="headers" 
              [cols]="cols">
            </app-data-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="CMO Master"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="SCM Priority Release Report">  
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Contacts - Kontakte"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Contacts - Vendors"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Contacts - Skus"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="SAP FG Material"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols">
          </app-data-table>
        </div>
      </mat-tab>
      <mat-tab label="Batch Release Overview"> 
        <div class="tableDiv">
          <app-data-table  
            (childEdit)="emitEdit($event)" 
            (childDelete)="emitDelete($event)" 
            [tableData]="tableData" 
            [headers]="headers" 
            [cols]="cols"
            [index]="index">
          </app-data-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </main>

  <dialog #abbreviationDialog class="dialog abbr">
    <abbreviation-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </abbreviation-dialog>
  </dialog>

  <dialog #cmomasterDialog class="dialog cmomasterDialog">
    <cmomaster-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </cmomaster-dialog>
  </dialog>

  <dialog #scmDialog class="dialog scmDialog">
    <scm-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </scm-dialog>    
  </dialog>

  <dialog #contactsKontakteDialog class="dialog contactsKontakteDialog">
    <contactsKontakte-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </contactsKontakte-dialog>    
  </dialog>

  <dialog #contactsVendorsDialog class="dialog abbr">
    <contactsVendors-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </contactsVendors-dialog>    
  </dialog>

  <dialog #contactsSkusDialog class="dialog abbr">
    <contactsSkus-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </contactsSkus-dialog>    
  </dialog>

  <dialog #SAPMaterialDialog class="dialog abbr">
    <sapmaterial-dialog 
      (childSave)="emitSave(index)" 
      (childCancel)="emitCancel(index)" 
      [currentItem]="currentItem"
      [dialogTitle]="dialogTitle">
    </sapmaterial-dialog>    
  </dialog>
  
  <dialog #warehouseDialog class="dialog warehouseseDialog">
    <warehouse-dialog 
      (childSave)="emitSave(8)" 
      (childCancel)="emitCancel(8)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [apimanufacturers]="apimanufacturers"
      [manufacturers]="manufacturers"
      [dialogTitle]="dialogTitle">
    </warehouse-dialog>    
  </dialog>

  <dialog #brrprocessDialog class="dialog brrProcessDialog">
    <brrprocess-dialog 
      (childSave)="emitSave(9)" 
      (childCancel)="emitCancel(9)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [categories]="categories"
      [dialogTitle]="dialogTitle">
    </brrprocess-dialog>    
  </dialog>

  <dialog #brrstatusDialog class="dialog brrProcessDialog">
    <brrstatus-dialog 
      (childSave)="emitSave(10)" 
      (childCancel)="emitCancel(10)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [dialogTitle]="dialogTitle">
    </brrstatus-dialog>    
  </dialog>

  <dialog #qcprocessDialog class="dialog brrProcessDialog">
    <qcprocess-dialog 
      (childSave)="emitSave(11)" 
      (childCancel)="emitCancel(11)" 
      [currentItem]="currentItem"
      [diParam]="diParam"
      [dialogTitle]="dialogTitle">
    </qcprocess-dialog>    
  </dialog>

  <dialog #messageboxDialog class="dialog brrProcessDialog">
    <messagebox-dialog></messagebox-dialog>
  </dialog>

  <dialog #formDialog class="dialog warehouseDialog">
    <form-dialog
      (childCancel)="emitCancel(12)" 
      [dialogTitle]="dialogTitle">
    </form-dialog>
  </dialog>
  
  
  