.center {
    margin-top: 5em;
    margin-left: 10em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 0.5em !important;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 0.5em !important;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
    height: 0.5em !important;
  }

  tr:hover{
    box-shadow: 1px 1px 5px 5px rgb(0 200 0 / 10%);
    background-color: rgb(0 200 0 / 10%);
  }
  
  .iconDel {
    margin-left: 8px;
    margin-top: 8px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    padding-right: 0.5em;
  }

  .tableDiv {
    width: 85em; 
    height: 36em; 
    margin-left: 2em;
  }

  .pointer {
    cursor: pointer;
  }

  .underline {
    text-decoration: underline;
    margin-top: -5px;
  }
 
  .fs24 {
    font-size: 24px;
  }
  
  .dialog {
    background-color: rgb(232,232,232);
    color: black;
    border-color: gray;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
 }

.abbrDialog {
    height: 32em;
    width: 32em;
}

.warehouseDialog {
  height: 36em;
  width: 36em;
}

.brrprocessDialog {
  height: 32em;
  width: 36em;
}

.scmDialog {
  height: 36em;
  width: 48em;
}

.contactsKontakteDialog {
  height: 36em;
  width: 28em;
}

.cmomasterDialog {
  height: 32em;
  width: 24em;
}

.filterBar {
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-left: 1em;
    background-color: rgba(232, 232, 232, 0.538);
    color: black;
    border-color: gray;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    padding-top: 0.5em; 
    height: 2em; width: 100%;
 }

 .flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0.5em;
}



.flex-container > div {
  width: 50%;
  height: 1em;
  font-size: 14px;
}

.flex-container-1 {
  display: flex;
  align-items: stretch;
  height: 1.5em;
}

.flex-container-2 {
  display: flex;
  align-items: stretch;
  height: 1.5em;
}

.flex-container-3 {
  display: flex;
  align-items: stretch;
  height: 1.5em;
}

.flex-container-1-1 > div {
  width: 100%;
  text-align: left;
  line-height:90%;
  font-size: 14px;
}

.mt1 {
  margin-top: 1em;
}

.flex-container-2 > div {
  width: 33%;
  text-align: left;
  line-height:90%;
  font-size: 14px;
}

.flex-container-3 > div {
  
  width: 50%;
  text-align: left;
  line-height:90%;
  font-size: 14px;
}

.flex-container-4 > .div1 {
  
  width: 100%;
  text-align: left;
  line-height:90%;
  font-size: 14px;
}

.flex-container-4 > .div2 {
  
  width: 25%;
  text-align: left;
  line-height:90%;
  font-size: 14px;
}

.iflex1 {
  margin-top: -5px; 
  width: 95%;
}

.iflex2 {
  margin-top: -5px; 
  width: 85%;
}

.iflex2-100 {
  margin-top: -5px; 
  width: 94%;
}

.iflex3 {
  margin-top: -5px; 
  width: 90%;
}

.iflex4 {
  margin-top: -5px; 
  width: 190%;
}

.heumannapp {
  margin-top: 5em;
  margin-left: 5em;
}

.dialogHeader {
  width: 105%;
  margin-top: -18px;
  margin-left: -18px;
  padding-left: 10px;
}

.bg-warehouse {
  background: linear-gradient(90deg, #ff8e00,#ffc700,#ff1e00);
}